<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="default"/>
	</appSettings>
	<connectionStrings>
		<add name="StudentsOnline" connectionString="Server=104.154.153.195;Database=Students;User Id=sqlserver;Password=Dikoalam;" providerName="System.Data.SqlClient" />
		<add name="Students" connectionString="Server=.;Database=Students;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>